<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Kelvin Stinghen</string>
	<key>Builder Version</key>
	<string>10600.5.17</string>
	<key>CFBundleDisplayName</key>
	<string>pipefy-harvest</string>
	<key>CFBundleIdentifier</key>
	<string>com.ateliware.pipefy-harvest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/pipefy.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://app.pipefy.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Harvest time tracking on Pipefy</string>
	<key>DeveloperIdentifier</key>
	<string></string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
</dict>
</plist>
